/* setting default font size for rem */
html {
  font-size: 15px;
  background-color: #79f2e2;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

/* removing focus border for inputs */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-search {
  margin-left: .2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: .2rem;
  width: 20rem;
  height: 1.6rem;
  border-radius: 14px;
}

#search-box {
  font-size: 1.2rem;
  width: 90%;
  border: none;
  margin-left: .4rem;
}

/* products */
#products {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product {
  padding: .4rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 16rem;
  margin-bottom: .4rem;
  margin-right: .4rem;
  background-color: #e5fffa;
  background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
}

.name {
  text-align: center;
  margin-bottom: .4rem;
}

.image {
  margin: auto;
  width: 10rem;
  border: 1px black solid;
  height: 10rem;
}

.details {
  border: 1px solid white;
}

/* reviews */
.reviews {
  margin-top: 1rem;
  padding: .4rem .4rem 0 .4rem;
  background-color: whitesmoke;
  border: 1px solid #c49c48;
  border-radius: 10px;
  height: 10rem;
  overflow: auto;
}

.fa-star {
  color: #ffd700;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.1rem;
}

.fa-star-o {
  color: #ffd700;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}